* {
  margin: 8px 4px;
}

body {
  display: flex;
  flex-direction: column;
}

main,
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#astronauta {
  border-radius: 50%;
}